@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
<div class="text-center">
    <h1 class="display-4">Employee's Stats</h1>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
<hr>
<div class="row">
<div class ="col-sm-2">
<h3>Family Status</h3>
<span>With Relatives</span>
<div class="progress mt-2">
<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.WithRelativesPercentage" aria-valuein="0" aria-valuemax="100" style="width:@ViewBag.WithRelativesPercentage%">
<span class="sr-only">@ViewBag.WithRelativesPercentage%</span>
</div>
</div>
<span>Without Relatives</span>
<div class="progress mt-2">
<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.WithoutRelativesPercentage" aria-valuein="0" aria-valuemax="100" style="width:@ViewBag.WithoutRelativesPercentage%">
<span class="sr-only">@ViewBag.WithoutRelativesPercentage%</span>
</div>
</div>
</div>
<div class = "col-sm-8">
<h3 class = "text-center">Employee's Gender Distribution</h3>
<div class = "gender-container">
@foreach (var gender in ViewBag.EmployeesByGender)
                {
                    var circularClass = "";
                    var icon = "";
                    
                    if (gender.Gender == "Male")
                    {
                        circularClass = "circular-progress-male";
                        icon = "👨";
                    }
                    else if (gender.Gender == "Female")
                    {
                        circularClass = "circular-progress-female";
                        icon = "👩";
                    }
                    else if (gender.Gender == "Others")
                    {
                        circularClass = "circular-progress-others";
                        icon = "⚧️";
                    }
                    else
                    {
                        circularClass = "circular-progress-others";
                        icon = "❓";
                    }
<div class = "circular-progress-female circular-progress-sm" style = "--progress:@gender.Percentage%;">
<div class="progress-value">
<div style="font-size: 2.5rem;">@gender.Percentage%</div>
<div style="font-size: 1rem; font-weight: normal;">@gender.Count</div>
</div>
</div>
<div class = "circular-progress-male circular-progress-sm" style = "--progress:@gender.Percentage%;">
<div class="progress-value">
<div style="font-size: 2.5rem;">@gender.Percentage%</div>
<div style="font-size: 1rem; font-weight: normal;">@gender.Count</div>
</div>
</div>
<div class = "circular-progress-others circular-progress-sm" style = "--progress:@gender.Percentage%;">
<div class="progress-value">
<div style="font-size: 2.5rem;">@gender.Percentage%</div>
<div style="font-size: 1rem; font-weight: normal;">@gender.Count</div>
</div>
</div>
}
</div>
</div>
</div>

